{{template "header"}}
  <title>登录 - 我的 beego 博客</title>
</head>

<body>
	<div class="container" style="width: 500px">
		<form method="POST" action="/login">
		  <div class="form-group">
		    <label >Account</label>
		    <input id="uname" class="form-control"  placeholder="Enter account" name="uname">		    
		  </div>
		  <div class="form-group">
		    <label>Password</label>
		    <input id="pwd" type="password" class="form-control" placeholder="Password" name="pwd">
		  </div>
		  <div class="checkbox">
		    <input type="checkbox" name="autoLogin">
		    <label class="form-check-label">下次自动登录</label>
		  </div>
		  <a href="/login"><button type="submit" class="btn btn-primary" onclick="return checkInput();">登录</button></a>
		  <button class="btn btn-primary" onclick="return backToHome();">返回</button>
		</form>

		<script type="text/javascript">
			function backToHome(){
				window.location.href = "/";
				return false;
			}
			function checkInput(){
				var uname = document.getElementById("uname");
				if (uname.value.length == 0) {
				    alert("请输入管理员帐号");
					return false;
				}
				var pwd = document.getElementById("pwd");
				if (pwd.value.length == 0) {
				    alert("请输入管理员密码");
					return false;
				}
			}

		</script>
	</div>
</body> 
</html>

